---
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Mi blog de Astro aprendizaje";
---

<Layout title={pageTitle}>
  <main>
    <h1>{pageTitle}</h1>
    <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>
  </main>

  <ul>
    {
      allPosts.map(({ url, frontmatter }) => (
        <BlogPost url={url ?? ""} title={frontmatter.title} />
      ))
    }
  </ul>
</Layout>
