---
import "./global.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navigation />
    <slot />
    <Footer />

    <script>
      import "../scripts/menu";
    </script>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-size: 224px;
    background: radial-gradient(circle, #364641 10%, transparent 11%),
      radial-gradient(circle at bottom left, #364641 5%, transparent 6%),
      radial-gradient(circle at bottom right, #364641 5%, transparent 6%),
      radial-gradient(circle at top left, #364641 5%, transparent 6%),
      radial-gradient(circle at top right, #364641 5%, transparent 6%);
    background-size: 3em 3em;
    background-color: #000000;
    opacity: 1;
  }
  h1 {
    color: purple;
    font-size: 4rem;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
